<div class="card">
<!-- Projected header Content here -->
    <div class="card-header">
        <ng-content select="[card-header]">
            <h1>card-header (ng-content)</h1>
        </ng-content>        
    </div>

    <div class="card-body">
        <ng-content select="[card-body]">
            <h2>card-body (ng-content)</h2>
        </ng-content>
    </div>

    <div class="card-footer">
        <ng-content select="[card-footer]">
            <h3>card-header (ng-content)</h3>
        </ng-content>
    </div>
</div>