<!-- <div class="mt-2 p-3 bg-secondary text-white rounded">
    <h4>Attribute-Directives</h4>
    <p>*ngClass and *ngStyle</p>
</div>

<div class="row pt-3">
    <div class="col-3">
        <div [ngClass]="isDiv1Color ? 'bg-danger' : 'bg-primary'" class="text-dark p-3 text-center">
            <h4>Div1</h4>
        </div>
    </div>
    <div class="col-3">
        <div [ngClass]="isDiv2Color ? 'bg-success' : 'bg-primary'" class="text-dark  p-3 text-center">
            <h4>Div2</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-danger text-dark  p-3 text-center">
            <h4>Div3</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary text-dark  p-3 text-center">
            <h4>Div2</h4>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3 text-center">
        <button type="button" class="btn btn-danger " (click)="changeDiv1Color(true)">Add Red</button>
        <button type="button" class="btn btn-primary mx-2" (click)="changeDiv1Color(false)">Add Blue</button>
    </div>

    <div class="col-3 text-center">
        <button type="button" class="btn btn-success mx-2" (click)="changeDiv2Color()">Toggle</button>     
    </div>
    <div class="col-3 text-center">
        <div style="display:flex; align-items:center">
            <input class="form-control" type="text" placeholder="Num-1">
            <input class="form-control" type="text" placeholder="Num-2">
        </div>
    </div>
    <div class="col-3 text-center">
        <div style="display: flex;align-items: center">
            <input  type="checkbox">
            <select>
                <option value="">Select</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Punjab">Punjab</option>
            </select>
        </div>
    </div>
    <div class="col-3 text-center">
        <table class="table table-borderd">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>city</th>
                    <th>status</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-3 text-center">
        <input type="text" [(ngModel)]="searchText">
    </div>
</div> -->

<!-- Style binding and NG-Style binding approaches -->
<!-- <h4  [style.color]="isLoggedIn? 'green' : 'red'" [style.textTransform]="isLoggedIn? 'uppercase' : 'lowercase'">Welcome Admin</h4>
<h1 [ngStyle]="{
    'color': isLoggedIn ? 'green' : 'red',
    'text-Transform': isLoggedIn ? 'uppercase' : 'lowercase'
}">Ng Style Directives</h1> -->

<!-- Class Binding and NG-Class Binding approaches -->
 <!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class Binding Approach</h1>

 <h1 [ngClass]="isLoggedIn ? 'login' : 'logout' ">NG Class Binding</h1>
 <h1 [ngClass]="{'login' : isLoggedIn,
                 'logout' : !isLoggedIn   
 } ">NG Class Binding</h1> -->

 
