<div class="mt-2 p-3 bg-secondary text-white rounded">
    <h4>Attribute-Directives</h4>
    <p>*ngClass and *ngStyle</p>
</div>

<div class="row pt-3">
    <div class="col-3">
        <div class="bg-danger text-dark p-3 text-center">
            <h4>Div1</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-success text-dark  p-3 text-center">
            <h4>Div2</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-danger text-dark  p-3 text-center">
            <h4>Div3</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary text-dark  p-3 text-center">
            <h4>Div2</h4>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3 text-center">
        <button type="button" class="btn btn-danger ">Add Red</button>
        <button type="button" class="btn btn-primary mx-2">Add Blue</button>
    </div>

    <div class="col-3 text-center">
        <button type="button" class="btn btn-success mx-2">Toggle</button>     
    </div>
</div>