<div class="row">
    <div class="col-6">
        <table class="table table-borderd" >
            <thead>
                <tr>
                    <th>empId</th>
                    <th>empCode</th>
                    <th>empName</th>
                    <th>empDob</th>
                    <th>empEmailId</th>
                    <th>empDesignation</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table table-borderd" *ngFor="let emp of empdata">
                    <th>{{emp.empId}}</th>
                    <th>{{emp.empCode}}</th>
                    <th  [ngStyle]="{'width': '300px', 'white-space': 'nowrap'}" >{{emp.empName}}</th>
                    <th [ngStyle]="{color: emp.empDob == '1966' ? 'Red' : 'Green'}">{{emp.empDob}}</th>
                    <th>{{emp.empEmailId}}</th>
                    <th [ngStyle]="{'width': '350px', 'white-space': 'nowrap'}" >{{emp.empDesignation}}</th>
                    <th  [ngStyle]="{'width': '300px', 'white-space': 'nowrap'}" >{{emp.role}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
